node_modules
npm-debug.log
.git
.gitignore
README.md
.DS_Store
client/node_modules
client/build
__pycache__
**/__pycache__
.env.local
.env.development.local
.env.test.local
.env.production.local
._*
*/._*
*/*/._*
rag-service/._*
client/._*
**/._*
